@import url('https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Rubik+Glitch&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/background1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}

main {
    margin: 10px 0px 0px 0px;
    gap: 50px;
    border: solid #ffffff0a;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #00000060;
    backdrop-filter: blur(4px);
    width: 650px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   

}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


h1 {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    border-radius: 20px;
    border: solid #ffffff31;
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
    cursor: text;
    -webkit-text-fill-color: #ffffff31;
    background-position: center;
    background-size: cover;
}
label {
    margin: 5px;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.email input {
    width: 450px;
    height: 50px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    border: solid #ffffff31;
    background-color: transparent;
    backdrop-filter: blur(50px);
    outline: none;
}
.senha input {
    width: 450px;
    height: 50px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    border: solid #ffffff31;
    background-color: transparent;
    backdrop-filter: blur(50px);
    outline: none;
}
.logar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.botaocfg {
    color: #fff;
    display: flex;
    justify-content: end;
    
}

#botao {
  
    margin: 30px 0 30px 0px;
    padding: 10px 25px;
    font-size: 12pt;
    border: solid #ffffff31;
    border-radius: 20px;
    color: white;
    background-color: transparent;

}
#botao:hover {

    border: solid #ffffff31;
    border-radius: 20px;
    color: white;
    background-color: #00000091;
    cursor: pointer;
}
#signature{
 color: #ffffff31;
 cursor: pointer;
}
#signature:hover{

    color: white;
}